:root {
    --main-oranger: #FF7600;
    --green-entradas: rgb(14, 193, 14);
}

.cardContainer {
    position: relative;
}

.textoCard {
    position: absolute;
    bottom: 2.4rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.551), rgb(0, 0, 0));
    height: 4rem;
    
}

.btnPrecioEntradas {
    color: white;
    background-color: var(--main-oranger);
    border-radius: 0;
}

.btnPrecioEntradas:hover {
    background-color: var(--green-entradas);
    color: white;
    box-shadow: 0.3rem var(--main-oranger);
}

.btnPrecioEntradas:focus {
    border: solid var(--main-oranger);
    box-shadow: 0.3rem var(--main-oranger);
}