:root {
    --main-oranger: #FF7600;
}

footer{
    margin-top: auto;
}
.logoFooter {
    position: relative;
    top: 0px;
}

.btn-Redes {
    border: 1px solid white;
    color: white;
}

.btn-Redes:hover {
    border: 1px solid var(--main-oranger);
    background-color: var(--main-oranger);
    color: white;
}

@media (max-width: 576px) {
    .footerElements {
        text-align: center;
        justify-content: center;
        padding-bottom: 2rem;
    }
    .botonRedesFooter{
        justify-content: center;
    }
    .itemsFooterResponsive{
        display: none;
    }
}

@media (max-width: 768px) {}

@media (min-width: 992px) {
    .footerElements {
        display: flex;
        flex-direction: row-reverse;
    }
    .botonRedesFooter{
        padding-left: 4rem;
    }
}